<!DOCTYPE html>
<html lang="en">
<head>
<title>Rosie Rover</title>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
-->
<!-- Optional theme 
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
-->

<link rel="stylesheet"
	href="static/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet"
	href="static/bootstrap/css/bootstrap-theme.min.css">


</head>
<body>
	<h1>Control the Rover!</h1>
	<p>bla bla bla instructions</p>
	<img src="static/pictures/campus-map.jpg" alt="Rose-Hulman Campus Map">
	<img src="static/pictures/rover.jpg" alt="Rosie Rover" id="rover_image">
	<button id="emergencyStopButton" style="background-color: red"
		class="Moving">STOP!</button>
	<button id="warningLightsAndBuzzerButton"
		style="background-color: yellow">Warning Lights and Buzzer</button>
	<button id="createGameButton">Create a new game</button>
	<button id="dsconnectButton">Disconnect and Return</button>

	<!-- <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	<script	src="static/jquery-1.11.1.min.js"></script>
		
	<!-- <script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/roverControlPage.js"></script>
</body>
</html>
